<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="application/javascript" src="/home/nischal/Asharms/static/js/DropDownHeader.js"></script>
    <link rel="stylesheet" type="text/css" href="/home/nischal/Asharms/static/css/DropDownHeader.css">
    <title></title>
</head>
<body>
    <div id="drop-down-header">
        <div class="header-drop-element">
            <span id="contact">Contact</span>
        </div>
        <span id="About" class="header-drop-element">About</span>
        <span id="ashrams" class="header-drop-element">Ashrams</span>
        <span id="donations" class="header-drop-element">Donations</span>
        <span id="needs" class="header-drop-element">Needs</span>
        <span id="home" class="header-drop-element">Home</span>
    </div>
</body>
</html>