/**
 * Css for elements in Header.html
 */

#header-div{
    width: 100%;
    height: 31px;
    background: #4D4848;
    margin-top: -8px;
    color: #ffffff;
    display: inline;
    position: fixed;
    font-size: 14px;
    right: 0px;
    left: 0px;
}
#header-div #header-donate-button{
    background: #5FC657;
    border-radius: 15px;
    width: 115px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
#header-div #track-donation{
    display: inline;
}
#header-div #sign-in{
    text-decoration: underline;;
}
#header-div span{
    float: right;
    margin: 5px 12px;
}
#header-div span:hover{
    cursor: pointer;
}