<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% load staticfiles %}
    <script src="{% static 'js/dropdownheader.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdownheader.css' %}">
    <title></title>
</head>
<body>
    <div id="drop-down-header">
        <div class="header-drop-element">
            <span id="contact">Contact</span>
        </div>
        <div class="header-drop-element">
            <span id="About">About</span>
        </div>
        <div class="header-drop-element">
             <span id="ashrams">Ashrams</span>
        </div>
        <div class="header-drop-element">
            <span id="donations">Donations</span>
        </div>
        <div class="header-drop-element">
            <span id="needs">Needs</span>
        </div>
        <div class="header-drop-element">
            <span id="home">Home</span>
        </div>

    </div>
</body>
</html>