<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% load staticfiles %}
    <script src="{% static 'js/header.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <title>Home</title>
</head>
<body>
    <div id="header-div">
        <span id="sign-in" >Sign In</span>
        <span id="track-donation" >Track Donation</span>
        <span type="button" id="header-donate-button" >Donate Now</span>
    </div>
</body>
</html>